# folder
.github/
datasets/
imgs/
Tests/
UserGuide/
Examples/project_TW/
__pycache__/

# large data
*.mat
*.nc
*.h5
*.zip

# text file
*.txt
*.csv
*.pdf
*.xlsx

# shapefile
*.shp
*.shx
*.dbf
*.prj
*.kml

# log file
*.out
*.log

# Allow explicit tracking of this file
!.gitignore
