# folder
.github/
datasets/
imgs/
Tests/
UserGuide/
Examples/project_TW/*

# large data
*.mat
*.nc
*.h5
*.zip
*.txt
*.csv

# shapefile
*.shp
*.shx
*.dbf
*.prj
*.kml

# log file
*.out
*.log

# Allow explicit tracking of this file
!.gitignore
